.disabled {
    color: gray;  /* or any other styles to visually indicate the disabled state */
    pointer-events: none;  /* to disable click events */
    background-color: rgb(232, 232, 232);
  }
  .pdf_download_link{
    text-decoration: underline;
    color: #005970;
    cursor: pointer;
  }