<div *ngIf="isLoading" class="overlay">
  <img src="../../../assets/images/loader.gif" alt="" class="spinner">
</div>
<div class="content-panel">
  <div class="row">
    <div class="col-12">
      <div class="map">
        <div class="map_element" style="cursor: pointer;" [routerLink]="''">Home</div>
        <div class="map_element">Test Algorithms</div>
      </div>
    </div>
  </div>
  <div class="row pb-3 select_input" [formGroup]="testForm">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="DepartmentName" [options]="departmentMasterList"
              (onChange)="getTestAlgorithmsPdfDetails()" [showClear]="true" formControlName="department"
              optionLabel="DepartmentName" [filter]="true" filterBy="DepartmentName" placeholder="Department"
              [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="Category" [options]="categoryMasterList" optionLabel="Category"
              (onChange)="getTestAlgorithmsPdfDetails()" formControlName="category" [filter]="true" filterBy="Category"
              placeholder="Category" [showClear]="true" [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="Method" [options]="methodMasterList" optionLabel="Method" formControlName="method"
              [filter]="true" (onChange)="getTestAlgorithmsPdfDetails()" filterBy="Method" placeholder="Method"
              [showClear]="true" [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="ReportedOn" [options]="reportedOnMasterList" optionLabel="ReportedOn"
              formControlName="reportOn" (onChange)="getTestAlgorithmsPdfDetails()" [filter]="true"
              filterBy="ReportedOn" placeholder="Reported on" [showClear]="true" [resetFilterOnHide]="true"
              [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <!-- <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="value" [options]="testStatusMaster" optionLabel="name" formControlName="status"
              filterBy="name" (onChange)="getTestAlgorithmsPdfDetails()" placeholder="Test Status" [showClear]="true"
              [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div> -->
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="DiseaseName" [options]="diseaseMasterList" optionLabel="DiseaseName"
              formControlName="disease" (onChange)="getTestAlgorithmsPdfDetails()" [filter]="true"
              filterBy="DiseaseName" placeholder="Diseases" [showClear]="true" [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="SpecialityName" [options]="specialityMasterList" formControlName="speciality"
              optionLabel="SpecialityName" (onChange)="getTestAlgorithmsPdfDetails()" [filter]="true"
              filterBy="SpecialityName" placeholder="Speciality" [showClear]="true" [resetFilterOnHide]="true"
              [lazy]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg col-xl col-xxl mt-3">
          <div class="themeinput">
            <p-dropdown optionValue="segmentName" [options]="segmentMasterList" formControlName="segment"
              optionLabel="segmentName" (onChange)="getTestAlgorithmsPdfDetails()" [filter]="true"
              filterBy="segmentName" placeholder="Segment" [showClear]="true" [resetFilterOnHide]="true" [lazy]="true">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="themeinput data_search" style="position: relative;float: left;">
        <span class="search_icon_dos_table"><img src="/assets/images/dos/Search grey.png" alt=""></span>
        <input type="text" class="form-control" placeholder="Search test" [formControl]="myControl">
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="keyboard_flex">
        <!-- inactive alphabets add class 'alphabets_inactive'  -->
        <div class="alphabets" [ngClass]="{ 'disabled': isAlphabetDisabled(lette) }" (click)="alphabets(lette,$event)"
          *ngFor="let lette of letter">{{lette}}
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <ul class="pdf_list" style=" max-height: calc(100vh - 490px) !important;">
        <li *ngFor="let pdfDetails of filteredPdfOptions | async" id="apl_id_{{pdfDetails.letter}}">
          <div class="pdf_alphabets_div">
            <div class="large_alphabets">
              {{pdfDetails.letter}}
            </div>
            <div class="pdf_list_document">
              <div>
                <div><img class="pdf_image_consent" src="/assets/images/dos/pdf image-1.png" alt="">
                </div>
                <div class="pdf_name_list">
                  <ul>
                    <li *ngFor="let pdfName of pdfDetails.pdfDetails"><span class="pdf_download_link"
                        (click)="open_pdf(pdf_popup, pdfName.Pdf)">{{pdfName.title}}</span></li>
                  </ul>
                </div>
                <!-- <div><img src="/assets/images/dos/Download blue.png" alt=""></div> -->
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="no_data_found" style="font-weight: bold;" *ngIf="(filteredPdfOptions | async)?.length==0">No Pdf Found
    </div>

  </div>
</div>



<ng-template #pdf_popup>
  <div class="modal-header" style="justify-content: end;"><span class="close_pdf" (click)="modalRef.hide();closePdf()">X</span>
  </div>
  <div class="modal-body">
    <!-- ============ content Start============== -->
    <div class="row">
      <div class="col-12">
        <!-- <object data="https://www.africau.edu/images/default/sample.pdf" style="width: 100%; height: calc(100vh - 128px);"></object> -->
        <!-- <pdf-viewer src="https://www.africau.edu/images/default/sample.pdf" [render-text]="true" [original-size]="false" style="width: 100%; height: calc(100vh - 128px);"></pdf-viewer> -->
        <!-- <iframe src="https://www.africau.edu/images/default/sample.pdf" style="height: calc(100vh - 128px);width: 100%;"></iframe> -->
        <!-- <embed src="https://www.africau.edu/images/default/sample.pdf"  style="height: calc(100vh - 128px);width: 100%;"> -->
        <!-- <ngx-extended-pdf-viewer [src]="src"
          [useBrowserLocale]="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          [showPresentationModeButton]="true"
          [showDownloadButton]="false"
          [enablePrint] =	"true"
          [contextMenuAllowed] = "true"
          [showSidebarButton] = "true"
          [showBookmarkButton] ="false"
          [showOpenFileButton] = "false"
          [showPropertiesButton] = "false"
          [showPropertiesButton] = "false"
          [showSpreadButton] = "false"
        ></ngx-extended-pdf-viewer> -->
        <div class="pdf_icon_cont">
          <div class="pagin_pdf">
            <button class="pdf-icons" tooltip="Previous" (click)="prevPage()"><img src="/assets/images/dos/previous.png"
                alt=""></button>
                <div class="pagenopdf">{{page}} / {{totalPages}}</div>
            <button class="pdf-icons" tooltip="Next" (click)="nextPage()"><img src="/assets/images/dos/nextarrow.png"
                alt=""></button>
          </div>
          <div class="pagin_pdfbut">
            <button class="pdf-icons" tooltip="Zoom in" (click)="zoomin()"><img src="/assets/images/dos/zoomin.png"
              alt=""></button>
          <button class="pdf-icons" tooltip="Zoom out" (click)="zoomout()"><img src="/assets/images/dos/zoomout.png"
              alt=""></button>
          <button class="pdf-icons" tooltip="Rotate Clockwise" (click)="rotateClockwise()"><img
              src="/assets/images/dos/right.png" alt=""></button>
          <button class="pdf-icons" tooltip="Rotate AntiClockwise" (click)="rotateCounterClockwise()"><img
              src="/assets/images/dos/left.png" alt=""></button>
          </div>


        </div>
        <pdf-viewer #pdfViewer [src]="src"  [rotation]="rotation" [original-size]="false" [show-all]="true"
          [fit-to-page]="false" [page]="page" [zoom]="zoom" [zoom-scale]="'page-width'" [stick-to-page]="false"
          [render-text]="true" [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
          style="height: 600px;" (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>

      </div>
    </div>

  </div>
</ng-template>